<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
    <script src="views/algoripe.js" defer></script>
    <link rel="stylesheet" type="text/css" href="views/app.css" />

    <title>Algoripe Zone</title>
  </head>
  <body>
    <div id="main-header">
      <h1>AlgoripeJS Lab</h1>
    </div>

    <div id="toolkit">
      <button id="noloop-btn" class="loop-on">Stop the loop</button>
      <button id="color-btn">Show palettes</button>
      <button id="png-btn">Download PNG</button>
      <button id="jpg-btn">Download JPG</button>
    </div>

    <div id="palettes"></div>

    <div id="canvas-div">
      <script src="/views/P5sketches/particles.js" defer></script>
    </div>
  </body>
</html>
